<div class="container mt-3 mb-2">
    <ul class="list-group list-group-horizontal w-100">
      <li class="list-group-item flex-fill text-center">
        <a>AAA</a>
      </li>
      <li class="list-group-item flex-fill text-center">
        <a>AAA</a>
      </li>
      <li class="list-group-item flex-fill text-center">
        <a>AAA</a>
      </li>
    </ul>
    <ul class="list-group list-group-horizontal w-100">
      <li class="list-group-item flex-fill text-center">
        <a>AAA</a>
      </li>
      <li class="list-group-item flex-fill text-center">
        <a>AAA</a>
      </li>
      <li class="list-group-item flex-fill text-center">
        <a>AAA</a>
      </li>
    </ul>
</div>
